<div class="overlay">
  <div class="content-wrapper">
    <div class="form-content">
      <a class="close"><img class="close" src="/assets/small_shaq.png"></a>
      <div class="errors"><%= flash[:notice] %></div>
      <%= form_for :question, url: {action: "create"}, html: {class: "new_question"} do |f| %>
      <%= f.label :title %>
      <%= f.text_field :title %>
      <%= f.label :url %>
      <%= f.text_field :url %>
      <%= f.submit %>
      <% end %>
    </div>
  </div>
</div>