<h1 class="centered">Will Shaq Fit in the Shack??</h1>

<h3 class="question-title centered"><%= @question.title %></h3>

<div class="cmon-ride">
  <img class="shaq-face" src="/assets/shaq_funny_face.jpg">
  <img class="big-arrow" src="/assets/arrow.png">
  <img class="photo-submission" src="<%= @question.url %>">
</div>

<div class="centered">
<% if current_user %>
  <%= render partial: "vote_up" %>
  <p class="centered middle-votes">Votes: <span class="make-question-up-votes" id="question-<%= @question.id%>"><%= @question.q_net %></span></p>
  <%= render partial: "vote_down" %>
  <p class="add-answer"><a href="/questions/<%= @question.id %>/answers/new">Got an answer??</a></p>
<% else %>
  Votes: <%= @question.q_net %>
<% end %>

<% if @question.answers.count > 0 %>
  <h1>Answers:</h1>
<% end %>

<% if @question.best %>
  <div class="the-best">
    <h3>Best Answer</h3>
    <p><%= @question.best.content %></p>
  </div>
<% end %>

  <div class="answer-content"><% @question.answers.each do |answer| %>
    <h3 class="centered"><%= answer.content %></h3>
  </div>

    <% if current_user %>
      <%= render partial: "answers/vote_up", locals: {answer: answer} %>
      <p class='centered middle-votes'>Votes: <span class="make-answer-up-votes" id="answer-<%= answer.id%>"><%= answer.net %></span></p>
      <%= render partial: "answers/vote_down", locals: {answer: answer} %>
    <% else %>
        <p class="centered">Votes: <span class="make-answer-up-votes" id="answer-<%= answer.id%>"><%= answer.net %></span>
        </p>
    <% end %>
<br>
<% if current_user && current_user.id == @question.user_id %>
  <%= render partial: "answers/edit", locals: {answer: answer} %>
<% end %>

  <p class="centered">Tell us what you think about this answer</p>
  <%= render partial: "answers/form", locals: {answer: answer}%>
  <% answer.comments.each do |comment| %>

    <div class="comment-list">
      <p class="centered"><%= comment.content %></p>
    </div>


  <% end %>

<% end %>
</div>