<h3 class="centered">Will Shaq Fit in the Shack??</h3>

<h3 class="question-title centered"><%= @question.title %></h3>


<div class="cmon-ride">
  <img class="shaq-face" src="/assets/shaq_funny_face.jpg">
  <img class="big-arrow" src="/assets/arrow.png">
  <img class="photo-submission" src="<%= @question.url %>">
</div>

<div class="centered">
<% if current_user %>
  <%= render partial: "vote_up" %>
<p class="centered middle-votes">Votes: <span class="make-question-up-votes" id="question-<%= @question.id%>"><%= @question.q_net %></span></p>
  <%= render partial: "vote_down" %>
<% else %>
  Votes: <%= @question.q_net %>
<% end %>

<p class="add-answer"><a href="/questions/<%= @question.id %>/answers/new">Got an answer??</a></p>


<% if @question.best %>
<div class="the-best">
  <h3>Best Answer</h3>
  <p><%= @question.best.content %></p>
</div>
<% end %>
<% @question.answers.each do |answer| %>
  Votes: <span class="make-answer-up-votes" id="answer-<%= answer.id%>"><%= answer.net %></span>
  Answer:<%= answer.content %><br>

<%= render partial: "answers/vote_up", locals: {answer: answer} %>

<%= render partial: "answers/vote_down", locals: {answer: answer} %>
<% if current_user && current_user.id == @question.user_id %>
  <%= render partial: "answers/edit", locals: {answer: answer} %>
<% end %>
      Answer Comment form <%= render partial: "answers/form", locals: {answer: answer}%>
  <% answer.comments.each do |comment| %>
    <br>Votes: <span class="make-comment-up-votes" id="comment-<%= comment.id%>"><%= comment.c_net %></span>
    <div class="comment-list">
    <p><%= comment.content %></p>
    </div>
    <%= render partial: "comments/vote_up", locals: {answer: answer, comment: comment} %>
    <%= render partial: "comments/vote_down", locals: {answer: answer, comment: comment} %>

  <% end %>

<% end %>
</div>